<header>
    <a href="#" class="logo"><i class="fas fa-play"></i></a>
    <div class="menuToggle" onclick="toggleMenu();"></div>
    <ul class="navigation">
        <li><a href="/">Home</a></li>
        <li><a href="/explore">Explore</a></li>
        <li><a href="/favorite">Favourite</a></li>
        <li><a href="/about">About</a></li>
    </ul>
</header>

<script src="./js/navbar.js" async defer></script>












{{!-- 
<nav>
    <div class="nav-left">
        <span class="logo"><i class="fas fa-play"></i></span>
        <h2>Movie Mania</h2>
    </div>
    <div class="nav-right">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href='/explore'>Explore</a></li>
            <li><a href="/favorite">Favourite</a></li>
            <li><a href="/about">About</a></li>
        </ul>
    </div>
</nav> --}}