<div class="preload">
    <img class="airplane" src="../images/airplane.png" alt="airplane">
    <h4>Landing on the website...</h4>
    <img class="cloud1" src="../images/cloud.png" alt="cloud1">
    <img class="cloud2" src="../images/cloud.png" alt="cloud2">
    <img class="cloud3" src="../images/cloud.png" alt="cloud3">
</div>

<script src='js/preload.js'></script>