<div class="main-container">
    {{>navbar}}
    <div class="about-container">
        <div class="about-content">
            <div class="about-img">
                <img src='../images/about-img.jpg' alt="about-img">
            </div>
            <div class="about-text">
                <h1>About heading</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus tempora eaque itaque repellendus,
                    placeat fugit pariatur explicabo reprehenderit, repellat beatae voluptates voluptatibus,
                    eos quidem praesentium magnam vitae inventore quam velit.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus tempora eaque itaque repellendus,
                    placeat fugit pariatur explicabo reprehenderit, repellat beatae voluptates voluptatibus,
                    eos quidem praesentium magnam vitae inventore quam velit.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus tempora eaque itaque repellendus,
                    placeat fugit pariatur explicabo reprehenderit, repellat beatae voluptates voluptatibus,
                    eos quidem praesentium magnam vitae inventore quam velit.</p>
            </div>
        </div>
    </div>
    {{>footer}}
</div>