{{!-- preloader --}}
{{>preload}}
{{!-- preloader end --}}
{{>navbar}}
<div class="body-container">
    <div class="banner-container">
        <div class="new-banner-content">
            <div class="banner-content">
                <h2>Movies in a click</h2>
                <p>THE PERFECT PLACE FOR DISCOVERING MOVIES</p>
                <a href="/explore">Explore Now</a>
            </div>
        </div>

    </div>
    <div class="body-content">
        <div class="call-text">
            <p>Create your Favorite Movies List</p>
            <div class="account_btn">
                <a class="sign_up" href="/account/register">Sign up</a>
                <a class="log_in" href="/account/login">Log in</a>
            </div>

        </div>
        <div class="now-playing-container">
            <div class="now_playing_title">
                <h3>Be the first to see the first-run movie!</h3>
                <h3>What's new?</h3>
            </div>
            <div class="now-playing-content">
            </div>

        </div>
    </div>
</div>

{{>footer}}
<script src='js/home.js'></script>