* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    width: 100%;
    height: auto;
    font-family: 'Noto Serif', serif;
    background-color: rgb(247, 244, 244);
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;

}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

h3 {
    color: rgb(255, 70, 14);
    padding: 0;
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 0.05rem;
    text-align: center;
    padding-bottom: 10px;
    margin: 0 auto;
}

.hero-container {
    height: auto;
    width: 100%;
    margin: 0;
    margin-top: 100px;
    padding: 0;
}

.hero-content {
    min-height: 68.3vh;
    width: 100%;
    margin: 0 auto;
    background-color: rgb(247, 244, 244);
    height: auto;
}

.search-container {
    display: flex;
    width: 70%;
    margin: 0 auto;
}

form {
    width: 100%;
    height: 80%;
    margin: auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#search-input {
    width: 560px;
    height: 38px;
    padding-left: 15px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #87888a;
    font-size: 1rem;
    letter-spacing: 0.09rem;
    color: white;
    border: 1px solid #757577;
    ;
    outline: none;
}

#search-input::-moz-focus-inner {
    background-color: #585858;
}

#search-input:focus {
    background-color: #585858;
}

#search-input::placeholder {
    color: #eafff5;
    letter-spacing: 0.05rem;
    font-size: 1rem;
}

#search-input:-ms-input-placeholder {
    color: #eafff5;
    letter-spacing: 0.05rem;
    font-size: 1rem;
}

#search-btn {
    margin-left: 0.5rem;
    padding: 0 20px;
    height: 40px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #495464;
    color: white;
    outline: none;
    border: none;
    font-size: 1.2rem;
}

#search-btn::-moz-focus-inner {
    border: 0;
}

#search-btn:hover {
    background-color: #34626c;
    color: #f8f1f1;
}

.movie-section {
    display: flex;
    align-items: center;
    justify-content: center;
}

.movie-container {
    display: flex;
    flex-wrap: nowrap;
    position: relative;
    overflow-x: auto;
    align-items: center;
    margin: 0 15px;
    padding: 1rem 0;
    border-radius: 5px;
    background-color: #e2e2e4;
    scroll-behavior: smooth;
}

.movie-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-right: 0.8rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transition: 250ms all;
    position: relative;
    transition: 400ms ease-in-out;
}

.movie-item:first-child {
    margin-left: 0.8rem;
}

.movie-item:last-child {
    padding-right: 0.8rem;
}

.movie-item:last-child .fev-logo {
    right: 1.2rem;
}

.movie-item:hover {
    border-radius: 10px;
    box-shadow: 1px 1px 10px 4px #892cdc;
    -webkit-box-shadow: 1px 1px 10px 4px #892cdc;
    /* Safari , iOS 5- */
    -moz-box-shadow: 1px 1px 10px 4px #892cdc;
    /* Firefox 3.5 */

    transform: translateY(-4px);
}

.fev-logo {
    position: absolute;
    right: 0.3rem;
    font-size: 1.6rem;
    color: rgb(252, 123, 101);
    opacity: 0.9;
    transition: 250ms all;
    z-index: 5;
}

.fev-logo:hover {
    transform: scale(1.1);
    color: rgb(255, 70, 14);
    opacity: 1;
}

.img-container {
    position: relative;
    width: 150px;
    height: 220px;
    transition: 250ms all;
}

.img-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.img-container:hover {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transform: scale(1.05);
}

.details-container {
    height: 70px;
    width: 100%;
    text-align: center;
    background-color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
}

.details-content {
    width: 100%;
    margin-top: 10px;
}

.details-content p {
    margin: 0;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    font-size: 0.80rem;
    font-weight: bold;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.movie-container::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.movie-container {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

#overlay {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .7);
    opacity: 0;
    transform: 200ms ease-in-out;
    pointer-events: none;
    z-index: 1000;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}

#modal_container {
    width: 970px;
    position: fixed;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    height: auto;
    max-width: 90%;
    background-color: rgb(172, 172,
            172);
    max-height: 100%;
    border-radius: 5px;
    z-index: 1500;
}

#modal_container.active {
    transform: translate(-50%, -50%) scale(1);
}

#close_video_btn {
    width: 2.5rem;
    height: 2.5rem;
    margin: 1rem auto;
    outline: none;
    font-size: 1.2rem;
    font-weight: bold;
    color: red;
    background-color: white;
    border: none;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
}

#modal_content {
    width: 100%;
    padding: 0 25px 30px 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#close_video_btn:hover {
    background-color: red;
    color: white
}

#modal_content div {
    width: 100%;
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    align-items: center;
}

#modal_content div iframe {
    margin: 1rem;
    overflow-y: scroll;
    border: none;

}


.upcoming-container,
.popular-container,
.top-container {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#alert {
    position: fixed;
    padding: 3px 8px;
    right: 30px;
    top: 105px;
    background-color: rgb(160, 245, 188);
    color: rgb(1, 32, 11);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: 1.5px solid #24e40a;
    font-size: 0.80rem;
    font-weight: bold;
    z-index: 1000;
    transform: scale(0);
    transition: 0.3s ease-in-out;
}

#alert.active {
    transform: scale(1);
}

#alert.success {
    background-color: rgb(190, 253, 211);
    color: rgb(1, 32, 11);
    border: 1.5px solid #24e40a;
    box-shadow: 2px 2px 2px 2px rgb(186, 231, 229);
}

#alert.danger {
    background-color: rgb(255, 223, 214);
    color: rgb(180, 22, 11);
    border: 1.5px solid #e64708;
    box-shadow: 2px 2px 5px 3px rgb(253, 174, 143);
}

@media screen and (max-width: 1085px) {
    #modal_container {
        width: 65%;
        overflow-y: scroll;
    }

    #modal_content div {
        flex-wrap: wrap;
        margin-bottom: 30px;
    }

    /* Hide scrollbar for Chrome, Safari and Opera */
    #modal_container::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    #modal_container {
        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
        /* Firefox */
    }
}

@media screen and (max-width: 1220px) {
    #alert {
        top: 147px;
        right: 30px;
    }
}

@media screen and (max-width: 792px) {
    #search-input {
        width: 70%;
    }

    .search-container {
        width: 80%;
    }

    .upcoming-container .movie-container {
        margin: 0 5px;
    }
}

@media screen and (max-width: 556px) {
    .search-container {
        width: 80%;
    }

    #search-input {
        width: 80%;
    }

    #search-btn {
        padding: 0 10px;

    }

}