* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Noto Serif', serif;
    background-color: #eeeded;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

.body-container {
    margin: 0;
}

.account-sec {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 470px;
    margin: 0 auto;
}

.account-sec h3 {
    text-align: center;
    margin: 0;
    font-size: 1.2rem;
    color: #5c6e91;
}

.account-sec h3 span {
    color: black;
    font-size: 1.4;
    text-transform: uppercase;
}


.fav-container {
    padding: 100px 0 30px 0;
}

.fav-content {
    width: 90%;
    min-height: 52.4vh;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 2rem 0;
    justify-content: center;
}

.fav-item {
    display: flex;
    width: 150px;
    flex-direction: column;
    border-radius: 10px;
    margin: 0.8rem 0.7rem;
    background-color: white;
    border: 1px solid rgb(204, 203, 203);
    position: relative;
    transition: 300ms ease-in-out;
    position: relative;
}

.fav-item:hover {
    transform: translateY(-8px);
    box-shadow:
        7px 5px 5px -3px rgba(92, 92, 92, 0.4),
        0px 5px 10px rgba(92, 92, 92, 0.6),
        -7px 5px 5px -3px rgba(92, 92, 92, 0.4);

    -webkit-box-shadow:
        /* Safari , iOS 5- */
        7px 5px 5px -3px rgba(92, 92, 92, 0.4),
        0px 5px 10px rgba(92, 92, 92, 0.6),
        -7px 5px 5px -3px rgba(92, 92, 92, 0.4);

    -moz-box-shadow:
        /* Firefox 3.5 */
        7px 5px 5px -3px rgba(92, 92, 92, 0.4),
        0px 5px 10px rgba(92, 92, 92, 0.6),
        -7px 5px 5px -3px rgba(92, 92, 92, 0.4);
    ;
}

.remove-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0.5rem;
    right: 0.7rem;
    height: 0.9rem;
    width: 0.9rem;
    font-size: 1.2rem;
    background-color: #fff;
    color: red;
}

.remove-icon:hover {
    font-size: 1.5rem;
    background-color: red;
    color: white;
}

.image-container {
    position: relative;
    width: 100%;
    height: 220px;
}

.image-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.details-container {
    width: 100%;
    max-width: 200px;
    padding-top: 10px;
}

.details-content {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.details-content p {
    text-align: center;
    font-size: 0.80rem;
    font-weight: bold;
    margin-bottom: 0;
    padding: 0 0.2rem;
}

#explore {
    padding: 5px 14px;
    border-radius: 5px;
    margin-top: 0.5rem;
    background-color: #495464;
    color: white;
    font-weight: 500;
    word-spacing: 0.2rem;
    border: none;
    font-size: 0.9rem;
}

#explore:hover {
    background-color: #5d6b80;
}

.overlay {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .6);
    opacity: 0;
    transform: 200ms ease-in-out;
    pointer-events: none;
}

.overlay-active {
    opacity: 1;
    pointer-events: all;
    z-index: 30;
}

.modal-container {
    position: fixed;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 8px;
    width: 90%;
    height: auto;
    max-width: 90%;
    background-color: #d9e4dd;
    overflow-y: scroll;
    max-height: 100%;
    z-index: 30;
}

.modal-active {
    transform: translate(-50%, -50%) scale(1);
}

.modal-content {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;
    margin-top: 1rem;
    background-color: #d9e4dd;
    flex-direction: column;
}



#modal-close:hover {
    color: white;
    background-color: red;
}

.close-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5rem auto;
    font-size: 2rem;
    background-color: white;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
}

.close-container button {
    text-decoration: none;
    height: 2.5rem;
    width: 2.5rem;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 50%;
    color: red;
    background-color: #acacac;
    border: none;
    outline: none;
}

.close-container:hover {
    background-color: red;
}

.video-container {
    height: auto;
    width: 100%;
}

.video-container div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: inherit;
    height: auto;
    margin: 0;
    margin-bottom: 1rem;
    padding: 1rem;
}

.video-container div iframe {
    margin: 1rem;
    border: none;
}

.video-container p {
    text-align: center;
    font-size: 0.85rem;
    font-weight: bold;
}

.review-container {
    width: 100%;
    height: auto;
    margin: 1rem 0;
    color: #495464;
    padding-bottom: 1.5rem;
}

.review-container h1 {
    width: 80%;
    font-size: 1.3rem;
    padding: 5px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 1rem;
    background-color: #94b4a4;
    color: #202020;
    border-radius: 8px;
}

.review-item {
    margin: 0.5rem;
    padding: 1rem;

    background-color: #dbf6e9;
    border-radius: 8px;
}

.review-author {
    width: 100%;
    height: 3rem;
    margin: 0;
    padding: 0.5rem 0;
    font-size: 1.2rem
}

.review-author span {
    color: #892cdc;
}

.review-content {
    word-spacing: 0.15rem;
    line-height: 1.5rem;
    font-size: 1rem;
}

.no_item {
    width: 480px;
    margin: 0 auto;
    height: 80px;
    border-radius: 5px;
    color: #6b6a6a;
    background-color: whitesmoke;
    border: 1px solid rgb(214, 214, 214);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
    font-weight: bold;
}

@media screen and (max-width: 607px) {
    .account-sec {
        width: 100%;
        padding: 0 1.5rem;
    }

    .account-sec {
        flex-direction: column;
        justify-content: center;
    }

    .no_item {
        width: 100%;
    }
}