* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

html {
    font-family: 'Noto Serif', serif;
    scroll-behavior: smooth;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
    /* rgb(216, 216, 216); */
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;

}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

.body-container {
    width: 100%;
    height: 100%;
}

.banner-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 400px;
    background-size: cover;
    background-position: center center;
    transition: scale(1.2);
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)),
        url('../images/movie-bg.jpg');
}


.new-banner-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 62px;
    color: white;
}


.banner-content {
    width: 64%;
    flex-direction: column;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin: 0 auto;
    color: white;
}

.banner-content h2 {
    font-size: 3rem;
    letter-spacing: 0.02rem;
    padding-top: 50px;
    color: #f6f5f1;
}

.banner-content p {
    font-size: 1.3rem;
    margin-top: 10px;
    word-spacing: 0.2rem;
    color: #c4b6b6;
}

.banner-content a {
    text-decoration: none;
    background-color: rgb(238, 197, 17);
    color: rgb(51, 3, 3);
    margin-top: 25px;
    font-size: 1.2rem;
    border-radius: 5px;
    letter-spacing: 0.02rem;
    padding: 6px 14px;
}

.banner-content a:hover {
    background-color: rgb(238, 224, 25);
    color: rgb(0, 0, 0);
}

.call-text .account_btn {
    display: flex;
    padding-top: 15px;
}

.call-text .account_btn a {
    text-decoration: none;
    color: white;
    font-size: 1.1rem;
    letter-spacing: 0.08rem;
    background-color: #4127d3;
    padding: 6px 18px;
    border-radius: 5px;
}

.call-text .account_btn a:hover {
    background-color: #543dd4;
}

.call-text .account_btn .log_in {
    margin-left: 13px;
}

.body-content {
    width: 100%;
    margin: 0 auto;
    margin-top: 25px;
    height: auto;
}

.call-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 37px;
    text-align: center;
}

.call-text h3 {
    font-size: 2.6rem;
    color: rgb(194, 36, 9);
}

.call-text p {
    font-size: 2.5rem;
    font-weight: bold;
    color: rgb(255, 60, 0);
}

.now-playing-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    height: auto;
    flex-shrink: 3;
}

.now_playing_title {
    width: 1080px;
    padding: 20px 25px;
    border-radius: 5px;
    border: 1px solid rgb(238, 238, 238);
    background-color: #fff;
}

.now-playing-container .now_playing_title h3 {
    font-size: 1.4rem;
    font-weight: 400;
}

.now-playing-container .now_playing_title h3:last-child {
    padding-top: 8px;
    font-size: 1.6rem;
    font-weight: 700;
    color: #4127d3;
}

.now-playing-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 1040px;
    margin: 0 auto;
    height: auto;
    padding-top: 2.2rem;
    padding-bottom: 3.5rem;
}

.now-playing-item {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 230px;
    border-radius: 5px;
    overflow: hidden;
    background-color: white;
    border: 1px solid rgb(238, 238, 238);
}



.img-container {
    width: 100%;
    height: 280px;
    position: relative;
    margin-bottom: 0;
    object-fit: cover;
}

.img-container img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

}

.details-container {
    width: 100%;
    margin: 0;
    margin-bottom: 1rem;
    padding: 0;
}

.details-content {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0.5rem auto;
    padding: 0 0.5rem;
    white-space: nowrap;
}

.details-content p {
    margin: 0.2rem 0;
    font-size: 0.95rem;
    font-weight: 700;
    color: #1f353a;
}

.details-content p span {
    color: rgba(0, 0, 0, 0.5)
}

@media screen and (max-width: 1092px) {
    .now-playing-item {
        width: 22%;
    }

    .now_playing_title {
        width: 98%;
    }

    .now-playing-content {
        width: 95%;
    }
}


@media screen and (max-width: 978px) {

    .now_playing_title {
        width: 88%;
    }

    .now-playing-content {
        width: 680px;
        justify-content: center;
        align-items: center;
    }

    .now-playing-item {
        width: 40%;
    }

    .banner-content {
        width: 80%;
    }

    .now-playing-item:nth-child(3),
    .now-playing-item:nth-child(4) {
        margin-top: 30px;
    }

    .now-playing-item:nth-child(1),
    .now-playing-item:nth-child(3) {
        margin-right: 30px;
    }


}


@media screen and (max-width: 741px) {
    .banner-content {
        width: 89.5%;
    }

    .now_playing_title {
        width: 98%;
    }

    .now-playing-content {
        width: 100%;
    }
}

@media screen and (max-width: 680px) {
    .banner-content h2 {
        padding-top: 85px;
    }

    .banner-content p {
        font-size: 1rem;
        margin-top: 5px;
    }

    .call-text p {
        font-size: 2rem;
    }
}

@media screen and (max-width: 530px) {
    .banner-container {
        height: 100vh;
        justify-content: center;
    }

    .banner-content {
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .banner-content h2 {
        font-size: 2.8rem;
        text-align: center;
        padding-top: 0;
    }

    .banner-content p {
        font-size: 1.2rem;
        text-align: center;
        margin-top: 15px;
    }

    .banner-content a {
        margin-top: 80px;
    }

    .call-text p {
        /* display: none; */
        font-size: 2rem;
        width: 80%;
    }
}

@media screen and (max-width: 496px) {
    .now-playing-content {
        padding-top: 0;
    }

    .now-playing-item {
        width: 250px;
        margin-top: 2.2rem;
    }

    .now-playing-item .img-container {
        height: 320px;
    }

    .now-playing-item:nth-child(1),
    .now-playing-item:nth-child(3) {
        margin-right: 0;
    }

}