* {
    scroll-behavior: smooth;
    font-family: 'Noto Serif', serif;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 4.5rem;
    z-index: 30;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
    font-family: 'Noto Serif', serif;
    background: rgb(255, 60, 0);
}

header .nav_left {
    display: flex;
    justify-content: center;
    align-items: center;
}

header .nav_left h2 {
    font-size: 1.2rem;
    color: white;
}

header.sticky {
    background: #fff;
    padding: 0.2rem 4.5rem;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
}

header .nav_left .logo {
    color: #fff;
    font-size: 1.8rem;
    margin-right: 10px;
}

header.sticky .nav_left .logo {
    color: rgb(255, 60, 0);
}

header.sticky .nav_left h2 {
    color: rgb(255, 60, 0);
}

header .nav_right {
    display: flex;
    justify-content: center;
    align-items: center;
}

header .nav_right button {
    border: none;
    padding: 3px 5px;
    border-radius: 5px;
    font-size: 0.80rem;
    letter-spacing: normal;
    background-color: rgb(48, 48, 48);
    color: white;
    cursor: pointer;
}

header .nav_right button:focus {
    outline: none;
}

header .nav_right button:hover {
    background-color: black;
}

header .navigation {
    position: relative;
    display: flex;
    list-style-type: none;
}

header .navigation li:not(:last-child) {
    margin-right: 20px;
}

header .navigation li a {
    text-decoration: none;
    color: #fff;
    font-weight: 300;
    font-size: 1.1rem;
    letter-spacing: 0.1rem;
}

header.sticky .navigation li a {
    color: #111;
}

header.sticky .navigation li a:hover {
    color: rgb(255, 60, 0);
}

#nav_overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0);
    pointer-events: none;
    z-index: 20;
}

#nav_overlay.active {
    background-color: rgba(0, 0, 0, 0.7);
    pointer-events: all;
}


@media (max-width: 1021px) {
    header {
        padding: 1rem 1.7rem;
    }

    header.sticky {
        padding: 0.2rem 3.3rem;
    }
}

@media screen and (max-width: 741px) {
    header {
        padding: 1rem 1rem;
    }

    header.sticky {
        padding: 0.2rem 2.5rem;
    }
}


@media (max-width: 683px) {

    header,
    header.sticky {
        padding: 1rem 1.5rem;
    }

    header .navigation {
        display: none;
    }

    header .navigation.active {
        position: fixed;
        width: 250px;
        height: 100vh;
        top: 72px;
        right: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: #fff;
        border-top: 1px solid rgb(218, 215, 215);
        padding-top: 25px;
        z-index: 30;
    }


    .logout_link {
        width: auto;
        background-color: white;
        border: none;
        border-radius: 0;
    }

    header .navigation li:not(:first-child) {
        margin-top: 10px;
    }

    header .navigation li a {
        width: 190px;
        background-color: whitesmoke;
        border: 1px solid rgb(218, 215, 215);
        border-radius: 5px;
        display: inline-block;
        font-weight: 700;
        color: #111;
        font-size: 1.2rem;
        padding: 6px 0 6px 10px;
    }

    header .navigation li a:hover {
        color: rgb(255, 60, 0);
        background-color: rgb(224, 223, 223);
        border: 1px solid rgb(192, 190, 190);
    }

    header .navigation li:not(:last-child) {
        margin-right: 0;
    }

    .logout_link {
        width: auto;
        border: none;
        background-color: white;
    }

    .menuToggle {
        position: relative;
        width: 40px;
        height: 40px;
        background: url(../images/menu.png);
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
    }

    .menuToggle.active {
        background: url(../images/close.png);
        background-size: 23px;
        background-repeat: no-repeat;
        background-position: center;
    }

    header.sticky .menuToggle {
        filter: invert(1);
    }

    header .nav_right button {
        font-size: 0.95rem;
        padding: 4px 8px;
        margin-top: 15px;
    }


}