@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@700&display=swap');
*{
    scroll-behavior: smooth;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 3.2rem;
    padding: 2.5rem 4.5rem;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
    font-family: 'Noto Serif', serif;
    background:  rgb(255, 60, 0);
}

header.sticky{
    background: #fff;
    padding: 0.5rem 4.5rem;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
}

header .logo{
    color: #fff;
    font-size: 1.8rem;
}
header.sticky .logo{
    color: rgb(255, 60, 0);
}
header .navigation{
    position: relative;
    display: flex;
}
header .navigation li{
    list-style-type: none;
    margin-left: 3.5rem;
}
header .navigation li a{
    text-decoration: none;
    color: #fff;
    font-weight: 300;
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
}
header.sticky .navigation li a{
    color: #111;
}

header.sticky .navigation li a:hover{
    color: rgb(255, 60, 0);
}


@media (max-width: 991px){
    header,
    header.sticky
    {
        padding: 2rem 1.5rem;
    }
    header .navigation
    {
        display: none;
    }

    header .navigation.active
    {
        width: 100%;
        height: calc(100% - 64px);
        position: fixed;
        top: 64px;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: #fff;
    }
    header .navigation li a
    {
        font-family: 'Poppins', sans-serif;
        display: inline-block;
        margin-left: 0;
        margin: 0.5rem 0;
        font-weight: 300;
    }
    header .navigation li a
    {
        color: #111;
        font-size: 1.8rem;
    }
    .menuToggle
    {
        position: relative;
        width: 40px;
        height: 40px;
        background: url(../images/menu.png);
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
    }
    .menuToggle.active
    {
        background: url(../images/close.png);
        background-size: 25px;
        background-repeat: no-repeat;
        background-position: center;
    }
    header.sticky .menuToggle
    {
        filter: invert(1);
    }

}




























/* 
nav{
    font-family: 'Noto Serif', serif;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 60px;
    background-color: rgb(223,90,40);  
}
.nav-left{
    width: 30%;
    display: flex;
    align-items: center;
    margin: 1rem 0;
}
.logo{
    margin-right: 1rem;
    font-size: 1.9rem;
    color: #bce6eb;
}
.nav-left h2{
    color: #aee6e6;
    font-size: 1.8rem;
    letter-spacing: .15rem;
}
.nav-right ul{
    width: 60%;
    display: flex;
    list-style-type: none;
    align-items: center;
}
.nav-right ul li:not(:last-child){
    margin-right: 2rem;
    padding: 0.5rem;   
}
nav a{
    text-decoration: none;
    color: white;
    font-weight: 800;
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
}

@media screen and (max-width: 960px){
    nav{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 110px;
    }
    .nav-left{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40%;
        margin: 0 auto;
        margin-bottom: 0.5rem;
    }
    .nav-right{
        display: flex;
        align-items: center;
        width: 80%;
        margin: 0 auto;
    }
    .nav-right ul{
        display: flex;
        width: 100%;
        justify-content: space-around;
    }
    .nav-right ul li:not(:last-child){
        margin-right: 0;
        padding: 0;   
    }
  
}


@media screen and (max-width: 655px){
.nav-left h2{
    font-size: 1.5rem;
}
nav a{
    font-size: 1.4rem;
}

}

@media screen and (max-width: 571px){
    .nav-left h2{
        font-size: 1rem;
    }
    nav a{
        font-size: 1rem;
    }
    
    } */